@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    --color-red: #FF4646;
    --content-background: #ECF3F8;
    --static-white: #FFFFFF;
    --tag-purple: #4361FF;
    --tag-green: #06A44F;
    --tag-pink: #FF43F7;
    background-color: var(--color-red);
}

.header-1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
    text-transform: uppercase;
}

.header-2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.header-3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 8%;
    text-transform: uppercase;
}

.header-4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
    text-decoration: none;
}

.action-small {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 130%;
    letter-spacing: 5%;
    color: black;
}

.action-large {
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.menu-item {
    padding: 12px 20px;
    align-content: center;
    border-radius: 10%;
}

.menu-item:hover {
    background-color: rgba(199, 44, 44, 0.3);
    color: red;
}

.fill-div {
    display: block;
    width: 100%;
    height: 100%;
}

.links {
    display: none;
}

.links a {
    text-decoration: none;
    color: black;
}

nav .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.line {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
}

.hero {
    display: flex;
    background-image: url('assets/bg-ball.png'), url('assets/bg-snow.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.caption {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
    padding: 60px 0;
    gap: 12px;
    width: 426px;
    height: auto;
}

.main-button {
    background-color: black;
    color: white;
    border: none;
    padding: 16px 24px;
    border-radius: 16px;
    cursor: pointer;
}

.main-button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.about {
    display: flex;
    background-image: url('assets/bg-snow.png');
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 60px 8px;
    gap: 0;
}

.about-content {
    margin: 16px;
    background-color: white;
    display: flex;
    max-width: 1276px;
    border-radius: 20px;
    justify-content: center;
    max-height: 528px;
}

.about-main {
    display: flex;
    padding: 0 60px;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;
    gap: 20px;
    max-width: 426px;
}

.about-container .caption {
    color: var(--color-red);
}

.image-container {
    max-height: 528px;
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.image-container img {
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.gifts {
    background-image: url('assets/bg-snow.png');
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 60px 8px;
    justify-content: center;
}

.gifts-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.gifts-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 426px;
    gap: 12px;
}

.gifts-cards {
    display: flex;
    gap: 12px;
}

.card {
    width: 310px;
    height: 342px;
    border-radius: 20px;
    padding: 0;
    gap: 0;
    background-color: var(--content-background);
    overflow-y: hidden;
}

.card-image {
    width: 310px;
    height: 230px;
    display: flex;
    justify-content: center;
}

.card-image img {
    width: 310px;
    height: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-container {
    background-color: var(--static-white);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    border-radius: 20px;
    height: 100%;
}

.card-container * {
    margin: 0;
    padding: 0;
}

#first-card .header-4 {
    color: var(--tag-purple);
}

#second-card .header-4 {
    color: var(--tag-green);
}

#third-card .header-4 {
    color: var(--tag-purple);
}

#fourth-card .header-4 {
    color: var(--tag-pink);
}

.cta-section {
    background-image: url('assets/bg-snow.png'), url('assets/bg-forest.png');
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 60px 8px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cta-content {
    display: flex;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 426px;
    padding: 60px 0;
    justify-content: center;
    text-align: center;
    gap: 20px;
    color: var(--static-white)
}

.timer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    justify-content: center;
    padding: 8px 12px 12px;
    gap: 0;
    border-radius: 20px;
    height: min-content;
    align-items: center;
}

.timer div:not(.separator) {
    width: 80px;
    padding: 0;
    gap: 0;
    margin: 0;
}

.timer div h2 {
    margin: 0;
    padding: 0;
}

.timer div h4 {
    margin: 0;
    padding: 0;
}

.separator {
    padding: 0;
    margin: 0;
    height: 20px;
    width: 0px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--static-white);
    padding: 60px 8px;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: grid;
    gap: 60px;
    max-width: 1276px;
}

.footer-cards {
    display: flex;
    border-radius: 60px;
    padding: 0;
    gap: 12px;
    width: 100%;
    width: calc(100vw - 100px);
    margin-left: calc(-50vw + 50% + 50px);
    justify-content: space-evenly;
}

.footer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    gap: 12px;
    background-color: var(--content-background);
    width: 100%;
}

.footer-card * {
    margin: 0;
    padding: 0;
}

.footer-bottom {
   gap: 12px; 
   display: grid;
   place-items: center;
}

.socials {
    display: flex;
    gap: 12px;
}

.social-container {
    padding: 8px;
}

.footer-bottom p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    nav .links {
        display: flex;
    }

    nav .hamburger {
        display: none;
    }
}